html, body {margin: 0; padding: 0}
.clear {clear: both;}
::selection {
  background: rgb(32, 1, 1);
  color: white;
} 
#wrapper {
    height: 350px;
    background:  linear-gradient( rgba(10, 4, 4, 0.671),rgba(17, 8, 8, 0.712), rgba(0, 0, 0, 0.621) ) ,url('../img/Spaces05.jpg');
    background-size: cover;
    background-position: center 50%;
} 
.caption { 
    max-width: 750px; 
    margin: 60px auto;
    /* background-color: red; */
}
.caption .text {
    text-align: center;
    font-size: 35px;
    color: white;
    /* background-color: pink */
    font-family: 'Open Sans Condensed', sans-serif;
    /* font-weight: 100; */
}.caption .text2 {
    font-size: 15px;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    margin-top: 10px;
    color: gray
}
.caption .link {
    text-align: center;
    margin-top: 35px;
}
.caption .link a{
    text-align: center;
    border: 2px solid gray;
    padding: 15px;
    text-decoration: none;
    color: gray;
    display: inline-block;
    width: 150px;

}
.caption .link a:hover {
    background-color: rgb(161, 155, 155);
    opacity: .5;
    color: rgb(24, 18, 18)
}
#top, #partners {
    max-width: 1000px;
    margin: 80px auto;
}
.row-1 {
    font-size: 35px;
    text-align: center;
    /* margin: 0 auto; */
    /* width: 900px; */
}
.row-1 p {
    font-size: 20px;
    color: rgb(70, 67, 67)
}
.iiiiii {
  background: linear-gradient( rgba(10, 4, 4, 0.671),rgba(17, 8, 8, 0.712), rgba(0, 0, 0, 0.521) ), url('../img/saved_resource_18');
  height: 250px;
  margin-top: 80px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
}
.iiiiii div {
  padding-top: 3em;
}
.iiiiii span:nth-child(1) {
  color: white;
  font-size: 80px;
  display: block;
}
.iiiiii span:nth-child(2) {
  color: gray;
  font-size: 40px;

}
.partnersCaption {
  text-align: center;
}
.partnersCaption span {font-size: 30px}
.partnersCaption a {color: gray; text-decoration: none;}
.partnersPhotos1, .partnersPhotos2, .partnersPhotos3 {
  float: left;
  width: 32%;
}
.partnersPhotos2 {
  margin: 0 2%;
}
.partnersPhotos1 img, .partnersPhotos2 img, .partnersPhotos3 img {
  width: 100%;
}
.partnerName {
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
}
.partnerName p:nth-child(1) {
  font-weight: 600;

}
.partnerName p:nth-child(2) {
  color: gray;
}
.staffAssociates {
  font-size: 45px;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
}
.staff {
  padding-top: 80px;
}
.staff .panel {
    width: 25%;
    float: left;
    /* background-color: pink; */
    text-align: center;
}
.panel span {
  display: block;
  font-family: 'Open Sans Condensed', sans-serif;

}
.panel span:nth-child(1) {
  font-weight: 600;
}
.panel span:nth-child(2) {
  color: gray;
}
.panel p {
  padding: 0 10px;
}
.iiiiiii {
  background: linear-gradient( rgba(10, 4, 4, 0.671),rgba(17, 8, 8, 0.712), rgba(0, 0, 0, 0.521) ), url('../img/saved_resource_18');
  height: 250px;
  margin-top: 80px;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
}
.iiiiiii div {
  padding-top: 3em;
}
.iiiiiii span:nth-child(1) {
  color: white;
  font-size: 80px;
  display: block;
}
.iiiiiii span:nth-child(2) {
  color: gray;
  font-size: 40px;

}
#positions {
  max-width: 1000px;
  margin: 40px auto;
}
#positions .open {
  text-align: center;
  padding: 80px 0;
  font-size: 35px;
  color: rgb(75, 69, 69);
}
.senior {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: 80px 0;
  /* height: 100px; */
}
.senior .left {
  float: left;
  width: 30%;
  font-size: 30px;
  color: rgb(70, 65, 65);
}
.right span {
  letter-spacing: 5px;
  color: rgb(70, 65, 65);
}
.senior .right {
  float: right;
  width: 68%;
  margin-left: 2%;
}
.right .qualText {
  margin-bottom: 60px;
  color: rgb(70, 65, 65);
}
.qual {
  letter-spacing: 1px;
  color: rgb(70, 65, 65);
}

#form {
  max-width: 1000px;
  margin: 40px auto ;
  padding-bottom: 40px;
  width: 92%;
}
#form .apply {
  float: left;
  width: 30%;
  font-size: 35px;
}
#form .form {
  float: right;
  width: 68%;
  margin-left: 2%;  
  color: rgb(135, 141, 138);
  /* background-color: pink; */
}
.form #btn {
  height: 40px;
  width: 150px;
  background-color: black;
  color: white;
  margin-top: 10px;
  cursor: pointer;
  border: 0 ;
  border-radius: 3px;
}
.form #btn:hover {background-color: rgb(58, 55, 55);}

.form #select { padding: 5px 0; width: 150px; cursor: pointer; color: rgb(135, 141, 138); }

#select option {cursor: pointer}

.firstname, .lastname {width: 46%; float:left;}

#email, #firstname, #lastname, #http {
  height: 30px;
  /* padding-left: 10px; */
}
#email, #firstname, #lastname, #http, #textarea {
  width: 100%;
  border-radius: 3px;
  border: 1px solid lightgray;
  background-color: rgb(245, 240, 240);
  padding: 0 12px;
  
}
#http {color: gray;}
#textarea {padding-top: 10px;}
#poseCaption {margin-bottom: 20px}

#emailCaption, #userCaption, #webCaption, #textareaCaption {
  margin: 20px 0;
}
.under {margin-top: 5px; font-size: 14px;}