html, body {margin: 0; padding: 0}
.clear {clear: both;}
::selection {
  background: rgb(32, 1, 1);
  color: white; 
} 
#wrapper {
    height: 350px;
    background:  linear-gradient( rgba(10, 4, 4, 0.671),rgba(17, 8, 8, 0.712), rgba(0, 0, 0, 0.621) ) ,url('../img/Stills22.jpg');
    background-size: cover;
    background-position: center 50%;
} 
.caption { 
    max-width: 750px; 
    margin: 60px auto;
    /* background-color: red; */
}
.caption .text {
    text-align: center;
    font-size: 35px;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: normal
}.caption .text2 {
    font-size: 15px;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    margin-top: 10px;
    color: gray
}
.caption .link {
    text-align: center;
    margin-top: 35px;
}
.caption .link a{
    text-align: center;
    border: 2px solid gray;
    padding: 15px;
    text-decoration: none;
    color: gray;
    display: inline-block;
    width: 150px;

}
.caption .link a:hover {
    background-color: rgb(161, 155, 155);
    opacity: .5;
    color: rgb(24, 18, 18)
}
#top, #partners {
    max-width: 700px;
    margin: 80px auto;
    width: 96%
}
.row-1 {
    font-size: 35px;
    text-align: center;
    margin-top: 8rem;
    /* margin: 0 auto; */
    /* width: 900px; */
}
.row-1 span:not(:first-child) {
    margin-top: 2%;
}
.row-1 span:first-child, span:nth-child(2) {
    display: block;
}
span:nth-child(2) a {
    text-decoration: none;
    color: rgb(54, 53, 53);
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 25px; 
}
.row-1 span:first-child a, span:nth-child(3) a, span:nth-child(4) a {
    text-decoration: none;
    color: rgb(165, 161, 161);
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
}
.row-1 p {
    font-size: 24px;
    color: rgb(73, 73, 73);
    font-family: 'Open Sans Condensed', sans-serif !important;
    text-align: left;

}
.cityRoads {
    background: url('../img/a.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 200% !important;
    min-width: 100%;
    background-position: center center;
    object-fit: fill
}
.someSpans span:first-child {
    display: block;
    margin-top: 5%;
    color: rgb(37, 33, 33);
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    letter-spacing: 1%; 
}
.someSpans span:last-child {
    display: block;
    margin-top: 3%;
    font-family: 'Open Sans Condensed', sans-serif;
    color: rgb(37, 33, 33);
    text-align: justify;
    font-size: 20px;
    letter-spacing: 1%;    
}
.interier {
    background: url('../img/a_4.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 200% !important;
    min-width: 100%;
    background-position: center center;
    object-fit: fill
}
.pans {
    max-width: 700px;
}
.pan1 {
    background: url('../img/a_2.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 70% !important;
    width: 48%;
    float: left;
    background-position: center center;
}
.pan2 {
    background: url('../img/a_3.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 70% !important;
    width: 48%;
    margin-left:4%;
    float: left;
    background-position: center center; 
}
.room {
    background: url('../img/a_5.jpeg');
    background-size: cover;
    /* background-repeat: no-repeat; */
    min-height: 180% !important;
    width: 100%;
    background-position: center;
}
.contactWithDev1 { 
    position: fixed;
    background-color: rgb(29, 16, 16);
    height: 50px;
    width: 20%;
    z-index: 10000;
    bottom: 10 !important;
    right: 10;
    box-shadow: 2px 2px 0 0 rgb(216, 123, 123);
    cursor: pointer;
    text-align: center;
    padding-top: 40px;
   
}
.contactWithDev1 a {
    text-decoration: none;
    color: rgb(230, 193, 193);
}