
.headerInner {
    padding: 0 20px;
    background-color: transparent;
}

.logo {
    /* background-color: indigo; */
    float: left;margin-top: 30px;font-size: 15px;color: white;
    font-family: 'Open Sans Condensed', sans-serif;
  }
  .logo a {color: white;text-decoration: none;}
.menu {
    /* background-color: black;  */
    padding-top: 5px;float: right}
/* .menu ul {background-color:purple;} */
.menu ul li {display: inline-block; }
.menu ul li:not(:first-child) {margin-left: 30px}
.menu ul li a {
    text-decoration: none;
    color: white
}
.menu ul li:nth-child(4) {
    padding: 10px;
    border: 2px solid white;
    cursor: pointer;
    display: inline-block;
    width: 70px;
    font-size: 15px;
    text-align: center
}
.menu ul li:nth-child(4):hover {
    background-color: white;
}
.menu ul li:nth-child(4):hover a{
    color: rgb(104, 98, 112);
}

.menu li a:hover {
    color: gray;
}
.social {
    background-color: rgb(241, 235, 235);
    height: 50px;
    padding-top: 15px;
}
.innerSocial {
    width: 800px;
    margin: 0 auto;
    padding: 10px 0;
    /* background-color: pink; */
    text-align: center
}
.innerSocial a {
    color: black;
    font-size: 20px;
}
.innerSocial a:not(:first-child) {
    padding-left: 10px;
    font-size: 20px;
    color: black
}
.innerSocial:hover a{
    opacity: .5;
}
.innerSocial a:hover{
    /* color: black; */
    opacity: .9;
}

footer {
    padding-top: 80px;
    background-color: rgb(29, 24, 20);
    height: 25vh;

}
.address {
    font-size: 18px;
    color: white;
    text-align: center;

}
.squareSpace, .squareSpace a {
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
    color: gray;
}
