html, body {margin: 0; padding: 0;}
.clear {clear: both;}
/* @import url('https://fonts.googleapis.com/css?family=Open+Sans'); */
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
/* .emptyDiv {height: 100px;} */
::selection {
    background: rgb(32, 1, 1);
    color: white; 
  } 
.wrapper {
    background : linear-gradient( rgba(22, 17, 17, 0.671),rgba(43, 36, 36, 0.712), rgba(31, 11, 11, 0.521) ), url('../img/hayden-header.jpg');
    /* background-image: url('../img/hayden-header.jpg'); */
    /* height: 90vh; */
    background-size: cover;
    background-position: center center;
    padding-bottom: 20px;
}
.caption {
    max-width: 1050px;
    margin: 0px auto;
    padding-top: 30px;
    /* background-color: red; */
}
.caption .text {
    /* background-color: red; */
    text-align: center;
    font-size: 2em;
    color: lightgray;
    /* background-color: pink */
    font-family: 'Open Sans', sans-serif;
}
.caption .text2 {
    font-size: 5em;
    margin-top: 10px;
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.caption .link {
    text-align: center;
    /* text-align: -moz-center; */
    margin-top: 35px;
}
.caption .link a{
    text-align: center;
    border: 2px solid rgb(240, 217, 217);
    padding: 15px;
    text-decoration: none;
    color: rgb(247, 247, 247);
    display: inline-block;
    width: 150px;

}
.caption .link a:hover {
    background-color: rgb(161, 155, 155);
    opacity: .5;
    color: rgb(24, 18, 18)
}
.top {
    max-width: 1000px;
    margin: 80px auto;
}
.row-1 {
    font-size: 35px;
    text-align: center;
    /* margin: 0 auto; */
    /* width: 900px; */
}
.row-1 p {
    font-size: 20px;
    color: rgb(70, 67, 67)
}
.row-1 p a {
    text-decoration: none;
    color: rgb(226, 207, 207);
}
.upperGallery {
    max-width: 1000px;
    margin: 80px auto;

}
.upImage {
    width: 32%;
    float: left;
}
.upImage h2 {
    text-align: center
}
.upImage p {
    color: gray;
    font-size: 15px;
}
.upImage:nth-child(2) {
    margin: 0 2%
}
.upImage img {
    width: 100%;
}
.residentalInfo, .commercialInfo, .hospitalityInfo {
    width: 250px;
    margin: auto 30px;
    text-align: justify;
}

#i {
    background: linear-gradient( rgba(10, 4, 4, 0.671),rgba(17, 8, 8, 0.712), rgba(0, 0, 0, 0.521) ), url('../img/saved_resource(2)');
    height: 250px;
    margin-top: 80px;
    background-position: center 30%;
    background-size: cover;
    background-repeat: no-repeat
}

.middle {
    max-width: 1000px;
    margin: 80px auto;
    width: 98%;
}
.row-2 {
    text-align: center;
    width: 750px;
    margin: 0 auto
}
.row-2 p {
    font-size: 20px;
    color: rgb(100, 92, 92);

}
.pic-1 {
    width: 48%;
    float: left;
}
.pic-2 {
    margin-left: 4%;
    float: left;
    width: 48%;
}
.pic-1-2 img, .pic-1-2 img {
    width: 100%;
}
.pic-3 {
    margin-top: 40px;
}
.pic-3 img {
    width: 100%;
}
#ii {
    background: linear-gradient( rgba(10, 4, 4, 0.671),rgba(17, 8, 8, 0.712), rgba(0, 0, 0, 0.521) ), url('../img/saved_resource(6)');
    height: 250px;
    margin-top: 80px;
    background-position: center 50%;
    background-size: cover;
    background-repeat: no-repeat
}
.underMiddle {
    max-width: 1000px;
    margin: 80px auto;
    width: 98%;
}

.row-3 {
    text-align: center;
    width: 750px;
    margin: 0 auto
}
.row-3 p {
    font-size: 20px;
    color: rgb(100, 92, 92);

}
.pic-4 img {
    width: 100%;
}
.pic-5-6 {
    margin-top: 30px;
}
.pic-5 {
    float: left;
    width: 48%;
}
.pic-6 {
    margin-left: 4%;
    width: 48%;
    float: left;
}
.pic-5 img, .pic-6 img {
    width: 100%;
}
#iii {
    background: linear-gradient( rgba(10, 4, 4, 0.671),rgba(17, 8, 8, 0.712), rgba(0, 0, 0, 0.521) ), url('../img/Lima01.jpg');
    height: 250px;
    margin-top: 80px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat
}
.pic-7, .pic-9 {
    float: left;
    width: 48%;
}
.pic-8, .pic-10 {
    float: left;
    width: 48%;
    margin-left:4%;
}
.pic-7 img, .pic-9 img, .pic-8 img, .pic-10 img {
    width: 100%;
}
.pic-9-10 {
    margin-top: 30px;
}

#iiii {
    background: linear-gradient( rgba(10, 4, 4, 0.671),rgba(17, 8, 8, 0.712), rgba(0, 0, 0, 0.521) ), url('../img/saved_resource(13)');
    height: 250px;
    margin-top: 80px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat
}
.pic-11 img {
    width: 100%;

}
.pic-12 {
    float: left;
    width: 48%;
}
.pic-13 {
    float: left;
    margin-left: 4%;
    width: 48%;
}
.pic-12 img, .pic-13 img {
    width: 100%;
}
.pic-12-13 {
    margin-top: 30px;
}
#iiiii {
    background: linear-gradient( rgba(10, 4, 4, 0.671),rgba(17, 8, 8, 0.712), rgba(0, 0, 0, 0.521) ), url('../img/Stockholm03.jpg');
    height: 250px;
    margin-top: 80px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat
}

.pic-14 img {
    width: 100%;
}
.pic-15 {
    float: left;
    width: 48%;
}
.pic-16 {
    float: left;
    margin-left: 4%;
    width: 48%;
}
.pic-15 img, .pic-16 img {
    width: 100%;
}
.pic-15-16 {
    margin-top: 30px;
}
.pic-17 {
    margin-top: 30px;
}
.pic-17 img {
    width: 100%;
}

.social {
    height: 60px !important;
    padding: 1% 0 !important;
    margin: 0 !important;
}
.contactWithDev { 
    position: fixed;
    background-color: rgb(29, 16, 16);
    height: 50px;
    width: 20%;
    z-index: 1000000;
    bottom: 1 !important;
    right: 1;
    box-shadow: 2px 2px 0 0 rgb(216, 123, 123);
    cursor: pointer;
    text-align: center;
    padding-top: 40px;
   
}
.contactWithDev a {
    text-decoration: none;
    color: rgb(230, 193, 193);
}